{
  "env": {
    "server": {
      "presets": ["latest", "react"],
      "plugins": ["transform-class-properties",
        "transform-object-rest-spread",
        "transform-regenerator", ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": false
        }],
        ["module-resolver", {
          "root": ["./src"]
        }]
      ]
    },
    "client": {
      "presets": ["latest", "react"],
      "plugins": [
        "transform-decorators-legacy",
        "transform-class-properties",
        "transform-object-rest-spread",
        "transform-react-constant-elements",
        "transform-react-inline-elements",
        "lodash",
        ["transform-runtime", {
          "helpers": false,
          "polyfill": false,
          "regenerator": true
        }],
        ["module-resolver", {
          "root": ["./src"]
        }]
      ]
    }
  }
}
