// Included here so we can babel-node various scripts. The real babel
// configuration happens in each specific Webpack config.
{
  "presets": ["env"],
  "plugins": ["syntax-flow", "syntax-dynamic-import"],
}
