@import 'variables';

body {
  font-family: $font-stack;
  font-size: $text-size;
  color: $font-color;
  margin: 0;
  background-color: rgba(229, 229, 229, 1);
}

.wrapper {
  align-content: center;
  height: 375px;
  padding-top: 25px;

  h1 {
    vertical-align: middle;
    font-size: 5em;
    margin: 0;
    text-align: center;
  }

  h1.heading__secondary {
    font-size: 5em;
    margin: 0;
  }

  p {
    text-align: center;
  }
}
