$coal: #373a3c;
$white: #fff;
$color-black: #000 !default;
$color-white: #fff !default;
$color-gray-lightest: #f5f5f5 !default;
$color-gray-light: #e6e6e6 !default;
$color-gray: #999 !default;
$color-dark-gray: #333 !default;
$color-blue: #3a99d8 !default;
$default-border-width: 1px !default;
$default-border-color: $color-gray !default;
$default-border-radius: 3px !default;
$font-color: $coal;
$body-bg: $white;
$font-base: 16px;
$text-size: 1rem;
$font-stack: 'Rubik', 'Helvetica Neue', Arial, sans-serif;
$heading-h1: 5.2rem;
$heading-h2: 3.5rem;
$heading-h3: 2.5rem;
$heading-h4: 2rem;
$heading-h5: 1.5rem;
$heading-h6: 1rem;
