.hero {
  align-content: center;
  padding: 1em;
  text-align: center;
  background-color: #51c2f3;
  margin-bottom: 3em;

  h1 {
    vertical-align: middle;
    font-size: 2em;
    margin: 0;
    text-align: center;

    @media screen and (min-width: 768px) {
      font-size: 4em;
    }
  }

  p {
    text-align: center;
  }

}
