@import 'variables';
@import 'grid';

body {
  background: linear-gradient(to left, #EB3349 , #F45C43);
  font-family: $font-stack;
  font-size: $text-size;
  color: $font-color;
  margin: 0;
}

.wrapper {
  align-content: center;
  height: 375px;
  padding-top: 25px;
  color: $white;

  h1 {
    vertical-align: middle;
    font-size: 5em;
    margin: 0;
    text-align: center;
  }
  h1.heading__secondary {
    font-size: 5em;
    margin: 0;
  }

  p {
    text-align: center;
  }
}
