@import '../../theme/variables';

.h {
	font-weight: 100;
	margin: 0;
	text-rendering: optimizeLegibility;
}

.h1 {
	font-size: $heading-h1;
}

.h2 {
	font-size: $heading-h2;
}

.h3 {
	font-size: $heading-h3;
	margin-bottom: .5rem;
}

.h4 {
	font-size: $heading-h4;
	font-weight: 400;
	margin-bottom: .5rem;
}

.h5 {
	font-size: $heading-h5;
	font-weight: 600;
	margin-bottom: .5rem;
}

.h6 {
	font-size: $heading-h6;
	font-weight: 600;
}
