@import '../../theme/variables';

.btn {
  // Base
  cursor: pointer;
  display: inline-block;
  font-size: inherit;
  line-height: $baseline-grid;
  padding: $button-padding;
  text-align: center;
  user-select: none;
  vertical-align: middle;

  // Theme
  appearance: none;
  background-color: $button-bg-color;
  border: $button-border-width $button-border-style $button-border-color;
  border-radius: $button-border-radius;
  transition: $button-transition;
  transition-property: $button-transition-property;

  // Hover, focus, active, disabled states
  &:hover:enabled {
    background-color: $button-hover-bg-color;
    border-color: $button-hover-border-color;
  }

  &:focus:enabled {
    border-color: $button-focus-border-color;
    outline: 0;
  }

  &:active,
  &.active {
    background-color: $button-active-bg-color;
    border-color: $button-active-border-color;
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: $button-disabled-opacity;
  }

  // Space between buttons when put together
  & + & {
    margin-left: $gutter;
  }

  // Full width
  &.block {
    display: block;
    width: 100%;

    & + & {
      margin: $gutter 0 0 0;
    }
  }

  // Sizes
  &.large {
    font-size: type-font-size(3);
    line-height: type-line-height(type-font-size(3));
    padding: $button-padding-large;
  }

  &.small {
    font-size: type-font-size(-1);
    line-height: type-line-height(type-font-size(-1)) - $button-border-width * 2;
    padding: $button-padding-small;
  }

  // Primary theme
  &.primary {
    background-color: $button-primary-bg-color;
    border-color: $button-primary-border-color;
    color: $button-primary-color;

    &:hover:enabled {
      background-color: lighten($button-primary-bg-color, $button-color-difference);
      border-color: lighten($button-primary-border-color, $button-color-difference);
    }

    &:active,
    &.active {
      background-color: darken($button-primary-bg-color, $button-color-difference);
      border-color: darken($button-primary-border-color, $button-color-difference);
    }
  }

  // Link theme
  &.link {
    background-color: $button-link-bg-color;
    border-color: $button-link-border-color;
    color: $button-link-color;

    &:hover:enabled {
      background-color: lighten($button-link-bg-color, $button-color-difference);
      border-color: lighten($button-link-border-color, $button-color-difference);
    }

    &:active,
    &.active {
      background-color: darken($button-link-bg-color, $button-color-difference);
      border-color: darken($button-link-border-color, $button-color-difference);
    }
  }
}
